ul{
    list-style: none;
    display: flex;
    width: 60%;
    background-color: rgb(61, 61, 61);
    color: white;
    margin: 0;
    padding-left: 50px;
}

li{
    cursor: pointer;
    text-align: center;
    padding: 10px 30px;
}

li:hover{
    background-color: rgb(92, 91, 91);
    font-weight: bold;
}

div{
    background-color: rgb(61, 61, 61);
}